/* ------------CSS RESET--------------- */
@import "./reset.css";

/* ------------CSS VARIABLE--------------- */
:root{
    /* --blue-color: blue; */
}
/* ------------Common CSS--------------- */
html{
    font-size: 16px;
}

.burger-icon{
    width: 50px;
    height: auto;
}






/* ------------CSS RESET--------------- */
/* @media(min-width:768px){

} */
