/* ------------CSS RESET--------------- */
@import "./reset.css";

/* ------------CSS VARIABLE---------- */
:root {
  --white-color: #fff;
  --hazeblue-color: rgb(202, 218, 224);
  --bgpink-color: rgb(245, 221, 221);
}
/* ------------Common CSS------------------------------- */

html {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
}
body {
  width: 100vw;
  overflow-x: hidden;
  /* height: 100vh; */
}

/*-------Nav bar--------*/
nav {
  position: fixed;
  top: 0;
  /* width: 100vw; */
  z-index: 999;
  box-sizing: border-box;
}

/* .nav-container {
  height: 500px;
} */
.logo-burger-wrapper {
  width: 100vw;
  box-sizing: border-box;
  /* border: gray 1px solid; */
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 20px;
  height: 100px;
  transition: 0.1s;
  /* background-color: var(--white-color); */
}

.shadow-drop-bottom {
  -webkit-animation: shadow-drop-bottom 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes shadow-drop-bottom {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-bottom {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

.empty-div {
  width: 30px;
}

.brand-logo {
  width: 150px;
  height: auto;
  margin-top: -10px;
}
.burger-icon {
  width: 30px;
  height: auto;
}

.menubar-height {
  height: 100px;
}

/*--hidded--*/
.slider-wrapper {
  position: absolute;
  top: 0;
  right: 100vw;
  padding-top: 30px;
  background-color: oldlace;
  width: 100vw;
  height: 100vh;
  transition: right 0.5s;
}
.close-icon {
  border: 1px gray solid;
  border-radius: 50%;
  width: 30px;
  height: auto;
  margin-left: 20px;
}
#nav-menu li {
  margin: 30px 0px;
  margin-left: 20px;
}
#nav-menu a {
  text-decoration: none;
  font-size: 25px;
  color: #06456e;
  padding-bottom: 3px;
}
#nav-menu a:hover {
  border-bottom: lightcyan 5px solid;
}

/*-------Footer--------*/
footer {
  background-color: var(--hazeblue-color);
}
footer p {
  color: rgb(18, 25, 53);
}
.footer-container {
  margin-left: 40px;
}

.brand-logo-footer {
  margin: 20px 0;
  width: 100px;
  height: auto;
  opacity: 0.9;
}
.footer-container > div {
  padding-bottom: 20px;
}
.footer-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.followus-container img {
  width: 20px;
  height: auto;
  margin: 5px;
}
.aboutus-container a {
  text-decoration: none;
}
.footer-text {
  color: #06456e;
}

/*-------INDEX-Big Img--------*/
.big-img-container {
  background-image: url(../images/bigImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  padding: 15px;
  box-sizing: border-box;
}
.big-img-container div {
  display: flex;
  flex-direction: row;
}
.big-img-container h2 {
  color: var(--white-color);
  font-size: 25px;
  font-family: IBM Plex Serif;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 10px;
}

.big-img-container p {
  color: var(--white-color);
  font-style: italic;
}
.big-img-container img {
  /* position: absolute; */
  width: 3rem;
  /* right: 8vw;
  bottom: 8vh; */
  animation: shake 0.6s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(1px, -10px);
  }
}

/*-------INDEX- Brands Gallery--------*/
.brands-gallery {
  text-align: center;
}

.spinning-circle {
  display: table;
  width: 150px;
  margin: 20px auto 20px;
  animation-name: spin;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.brands-gallery {
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 50px;
}
.brands-gallery p {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  bottom: 105px;
  position: relative;
}
.brands-gallery h4 {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  bottom: 30px;
  margin-bottom: 50px;
  /* font-style: italic; */
  /* border: 1px black solid; */
  padding: 5px 20px;
  display: inline-block;
  color: black;
}

.brands-gallery a > img {
  display: inline-block;

  width: 40%;
  margin: 10px;
  cursor: pointer;
}
.brands-gallery a:last-child {
  /* text-decoration: none; */
  color: #06456e;
}

/*-------Dashboard-MAIN--------*/
.go-to-top img {
  width: 1.5rem;
  position: fixed;
  border: 0.5px solid black;
  padding: 3px;
  border-radius: 50%;
  right: 1rem;
  bottom: 5vh;
}
.filter-container {
  background-color: var(--hazeblue-color);
  padding: 0 15px;
  width: 100vw;
  box-sizing: border-box;
}

.type-select-wrapper {
  height: 60px;
  position: relative;
}
.filter-container select {
  appearance: none;
  -webkit-appearance: none;
  border: gainsboro solid 1px;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  background-color: var(--white-color);
  padding: 20px 16px 8px;
  font-size: 17px;

  position: absolute;
}
.filter-container label {
  font-size: 10px;
  font-weight: 300;
  color: gray;

  position: absolute;
  top: 8px;
  left: 10px;
  z-index: 1;
}
.filter-container .select-arrow {
  width: 30px;
  opacity: 0.6;

  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 8px;
}
.items-length {
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
}

.products-container div img {
  width: 15rem;
}
.products-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  /* font-size: 30px; */
  margin-bottom: 20px;
}

.product-box .product-img {
  margin: 20px;
}
.product-box .name {
  font-size: 15px;
}
.product-box .tag-list {
  font-style: italic;
  color: gray;
  /* color: #fff; */
  margin: 5px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
}
.product-box .description {
  color: gray;
  font-size: 15px;
  font-weight: 300;
}
.product-box .more-text {
  display: none;
  color: gray;
  font-size: 15px;
  font-weight: 300;
}
.product-box .showmore {
  display: inline;
  color: black;
}
.product-box .showless {
  display: none;
  color: black;
}

.dont-have-container img {
  width: 80vw;
  margin: 20px 0;
}
.dont-have-container {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dont-have-container p{
  font-weight: 300;
}

/*-------Signup-MAIN--------*/
.signup-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #f2d4d6;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a5b4c7' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  padding: 20px 20px;
}
.signup-bgcolor {
  background-color: var(--white-color);
}
.signup-container h3 {
  padding-top: 30px;
  display: table;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 500;
}
.signup-container .signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-container input {
  width: 80%;
  padding: 15px;
  margin-top: 10px;
  border: gainsboro solid 1px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
}
.message-container {
  color: hotpink;
  font-size: 10px;
  font-style: italic;
  width: 80%;
  margin-top: 10px;
}
.signup-container button {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 15px;
  width: 80%;
  border-radius: 5px;
  border: none;
  background-color: hotpink;
  font-size: 16px;
  color: var(--white-color);
}

/*-------Login-MAIN--------*/
.login-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #f2d4d6;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a5b4c7' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  padding: 20px 20px;
}
.login-bgcolor {
  background-color: var(--white-color);
}
.login-container h3 {
  padding-top: 30px;
  display: table;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 500;
}
.login-container .welcome {
  padding-top: 30px;
  display: table;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
}
.login-container .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-container input {
  width: 80%;
  padding: 15px;
  margin-top: 10px;
  border: gainsboro solid 1px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
}
.login-container button {
  margin-top: 10px;
  padding: 15px;
  width: 80%;
  border-radius: 5px;
  border: none;

  font-size: 16px;
  color: var(--white-color);
}
.login-container #login-button {
  margin-bottom: 10px;
  background-color: hotpink;
}
.login-container #signup-button {
  margin-bottom: 30px;
  background-color: var(--white-color);
  color: hotpink;
  border: hotpink 1px solid;
}

.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

/*-------FAQs-MAIN--------*/

.faqs-container {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  background-color: #f2d4d6;
  /* background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a5b4c7' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"); */
  background-image: url("../images/faqbg1.jpg");
  background-size: cover;
  padding: 30px;
}
.faqs-container h3 {
  font-weight: 500;
  display: table;
  margin: 0 auto;
  font-size: 25px;
  color: var(--white-color);
  margin-bottom: 20px;
}
.faqs-container > p {
  font-weight: 300;
  color: var(--white-color);
  /* text-align: justify; */
}
.faqs-container .question-card-container {
  display: table;
  margin: 20px auto;
  background-color: rgb(179, 197, 209);
  margin-bottom: 20px;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.faqs-container .question-card-container:hover {
  cursor: pointer;
  /* background-color: indianred; */
}
.question-card-container p {
  font-family: IBM Plex Serif;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  /* padding: 0 5px; */
  color: var(--white-color);
}

.question-card-container p a {
  /* text-decoration: none; */
  color: blanchedalmond;
}

/* .question-card-container:hover{
  -webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
} */

.flip-horizontal-bottom {
  -webkit-animation: flip-horizontal-bottom 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}

/* ------------media query----768px and up------------------------ */
@media (min-width: 768px) {
  /*--------------Nave bar------------*/
  .brand-logo {
    width: 200px;
    margin-top: 0px;
  }
  .logo-burger-wrapper {
    height: 150px;
  }
  .burger-icon {
    display: none;
  }
  .menubar-height {
    height: 150px;
  }

  .slider-wrapper {
    /* position: relative; */
    background-color: transparent;
    right: 0vw;
    width: 35vw;
    height: 100px;
  }
  .close-icon {
    display: none;
  }
  #nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    /* bottom: 1vh; */
    right: 5vw;
    font-weight: 300;
  }
  #nav-menu li {
    margin-left: 20px;
  }
  #nav-menu a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 200;
    color: black;
  }
  /*---------------footer---------------*/
  .footer-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
  }
  .footer-container > div {
    display: flex;
    flex-direction: row;
  }
  .brand-logo-footer {
    width: 200px;
    margin-bottom: 50px;
  }
  .footer-container > div > div {
    margin-right: 50px;
  }
  .footer-title {
    font-size: 30px;
  }
  .footer-text {
    font-size: 25px;
  }
  .followus-container img {
    width: 40px;
  }

  /*---------------INDEX-Big Img---------------*/
  .big-img-container {
    padding: 3rem;
  }
  .big-img-container div {
    display: flex;
    flex-direction: row;
  }
  .big-img-container h2 {
    font-size: 60px;
    font-family: IBM Plex Serif;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .big-img-container img {
    right: 20vw;
    bottom: 10vh;
    height: 100%;
    width: 6rem;
  }

  .big-img-container p {
    color: var(--white-color);
    font-style: italic;
    font-size: 30px;
    margin-bottom: 3rem;
  }
  /*-------INDEX- Brands Gallery--------*/
  .spinning-circle {
    width: 300px;
  }
  .brands-gallery p {
    bottom: 180px;
    font-size: 50px;
  }
  .brands-gallery h4 {
    font-size: 40px;
    
  }
  .brands-gallery a > img {
    width: 30%;
    margin: 40px;
  }
  /*----------------Dashboard--------------*/
  .go-to-top img {
    width: 2rem;
    right: 2rem;
  }
  .filter-container {
    padding-bottom: 30px;
  }
  .products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-box {
    width: 38vw;
    padding: 2rem;
  }

  .product-box .name {
    margin-top: 30px;
    font-size: 20px;
  }
  .dont-have-container img {
    width: 30rem;
  }

  .type-select-wrapper {
    width: 55vw;
    margin: 0 auto;
  }
  .items-length {
    padding-left: 22vw;
  }

  .dont-have-container p {
    font-size: 1.5rem;
    
  }

  /*----------------Signup--------------*/
  .signup-container {
    background-size: 1.5%;
  }
  .signup-bgcolor {
     width: 65vw;
    /* height: 70vh;  */
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .signup-container h3 {
    font-size: 40px;
    padding: 3rem;
  }
  .signup-container input {
    padding: 25px;
    font-size: 25px;
  }
  .message-container {
    font-size: 20px;
  }
  .signup-container button {
    padding: 30px;
    font-size: 25px;
    margin-bottom: 100px;
  }
  /*----------------Login--------------*/
  .login-container {
    background-size: 1.5%;
  }
  .login-bgcolor {
    width: 60vw;
    /* height: 70vh; */
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .login-container h3 {
    font-size: 40px;
    padding: 3rem;
  }
  .login-container input {
    padding: 25px;
    font-size: 25px;
    margin-top: 20px;
  }
  .login-container button {
    padding: 30px;
    font-size: 25px;
  }
  .login-container #signup-button {
    margin-bottom: 100px;
  }
  .login-container .welcome {
    font-size: 40px;
  }
  .form-container p {
    font-size: 25px;
  }
  /*----------------FAQs--------------*/

  .faqs-container h3 {
    font-size: 40px;
    padding: 50px 0 20px;
  }

  .faqs-container > p {
    width: 50vw;
    display: table;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .faqs-container .question-card-container {
    width: 37vw;
    height: 37vw;
    margin-bottom: 3rem;
  }

  .question-card-container p {
    font-family: IBM Plex Serif;
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
  }
}

/* ------------media query----1024px and up------------------------ */

@media (min-width: 1024px) {
  /*-------INDEX- Brands Gallery--------*/
  .brands-gallery a > img{
    width: 25%;
  }
  
  /*-------DASHBOARD--------*/
  .product-box{
    width: 23vw;
    padding: 0 4rem;
  }

  /*-------FAQs--------*/
 
  .faqs-container .question-card-container{
    width: 25vw;
    height: 25vw;
  }






}
